.bondCard {
    padding: 3vw;
    justify-content: center;
    text-align: center;

    h1 {
        font-size: 45px;
        margin-top: 0.5em;
    }

    h2 {
        font-size: 42px;
    }

    h3 {
        margin: 4px 0;
    }
}

.lowerStats {
    display: flex;
    flex-direction: column;
    justify-content: center;

    span {
        text-align: center;
        color:#929BA0;
        font-size: 20px;
    }

    h1 {
        margin-bottom: 0em;
    }
}

.__bond-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

@media screen and (max-width: 600px) {
    .bondCard {
        margin: 0px 10px;

        h2 {
          font-size: 26px;
        }
    }
}

@media screen and (max-width: 900px) {
    .bondCard {
        margin: 0px 10px;
        max-width: 500px;
    }
}

.iconWrapper {
    position: absolute;
    height: 86px;
}

.daiIcon {
    position: relative;
    height: 100%;
    top: -47px;
}

.titleWrapper {
    background-color: #000;
    padding: 0em 2em;
    border-radius: 3em;
    color: #FFF;
    margin-top: 1em;

    h3 {
        margin: 0.5em;
    }
}
