%section {
    display: flex;
    flex-direction: column;

    text-align: center;
}

.__heading {
    @extend %section;
    
  padding: 19vmin 5vw 4vmin 5vw;

}

.__section {
    @extend %section;
    padding: 5vmin 5vw 0 5vw;
}

.__icons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin: auto;

    > * {
        width: 16rem;
    }
}

@media (max-width:600px) {
    .learnMore {width:100% !important;}
}

.learnMore {
    font-size: 24px;
    font-weight: 400;
    color: #6DC1B9;
    @media (max-width:600px) {
        font-size:18px;
    }
    .linkArrow{
        font-size: 36px;
        transform: translateX(0.25em) translateY(0.25em) rotate(45deg) ;
        display:inline-block;
        margin-left:5px;

        @media (max-width:600px) {
            font-size:17px;
        }
        
    }
}

.info1 {
    text-align: left;
    margin: 0 auto 250px auto;

    h2, h4 { 
        font-weight: 400;
    }

    h2 {
        font-size: 42px;
    }

    h4 {
        font-size: 32px;
    }

    p {
        color: #8A99A8;
    }
}

.info2 {
    text-align: left;
    margin: 0 auto 250px auto;
}

.usdbBanner {
    text-align: left;

    h1 {
        margin-top: 0;
        font-size: 24px;
        color: #000;   
    }

    p {
        font-weight: 200;
    }

    .bannerButton {
        padding: 1em 3em;
    }
}