.iconGridItem {
    margin-bottom: 25px;
}

@media (max-width:1200px) {

    .productGrid {
      display: flex;
      align-items: center;
      justify-content: center;
        margin-bottom:50px !important;
    }
}
