.comingSoonTitle {
    font-size: 22px;
    font-weight: 400;
    color: #697780;
}

.comingSoonSubtitle {
    font-size: 16px;
    font-weight: 400;
    color: rgba(106, 120, 129, 0.29);
    text-transform: uppercase;
    text-align: center;
}
