.comingSoonTitle {
  font-size: 18px;
  font-weight: 400;
  color: #697780;
}

.comingSoonSubtitle {
  font-size: 12px;
  font-weight: 400;
  color: rgba(106, 120, 129, 0.29);
  text-transform: uppercase;
  text-align: center;
}

.connectButton {
  font-size: 0.8em !important;
  padding-top: 1.2em !important;
  padding-bottom: 1.2em !important;
}

.toggleTheme {
  padding-left: 0 !important;
  padding-right: 0 !important;
  width: 40px !important;
  min-width: 0 !important;
  svg {
    font-size: 1em;
  }
}
.portfolio {
  padding-top: 1em !important;
  padding-bottom: 1em !important;
  font-size: 0.8em !important;
  svg {
    font-size: 1.25em;
  }
}

.usdbLogo {
  @media (max-width: 600px) {
    height: 60px;
    width: auto;
  }
  @media (max-width: 360px) {
    height: 40px;
    width: auto;
  }
}
.errorNav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
  font-size: 16px;
  padding: 7px;
}
