.profileImageContainer {
    border-radius: 50%;
    border: 7px solid white;
    height: 225px;
    width: 225px
}

.iconWrapper {
    border-radius: 50%;
    border: 5px solid white;
}

@media (max-width: 600px) {
    .profileImageContainer {
        height: 225px;
        width: 225px
    }
}
@media (max-width: 360px) {

}