.iconLinkContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .imageBox {
         .iconImage {
            width: 100%;
        }
    }

    .title {
        font-size: 28px;
        font-weight: 400;
        margin-bottom: 10px;
    }

    .link {
        font-size: 17px;
        font-weight: 400;
        color: #6DC1B9;
        margin-top: 0;
    }

    .disabled {
        color: rgba(105, 108, 128, 0.43);
    }

    .linkArrow{
        transform: rotate(45deg);
        font-size: 16px;
    }

}