.hero {
    h1 {
        font-size: 60px;
        font-weight: normal;
        margin: 0;
    }

    h2 {
        font-size: 34px;
        font-weight: 100;
        color: #696C80;
        margin: 1em 0em 0 0;
    }
}

.standard {
    h1 {
        font-size: 50px;
        margin: 0.5em 0;
    }

    h2 {
        font-size: 22px;
        margin: 0em 0 1em 0;
        line-height: 2em;
        font-weight: 200;
    }
}