/* You can add global styles to this file, and also import other style files */
html, body {
    margin: 0;
    font-family: 'Sora', sans-serif;
}

a {
    text-decoration: none;
}

.flexCenterRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.flexCenterCol {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}