.valueContainer {
    border-radius: 1em;
    background: #f9f9f9;
    padding: 1em;

    .leftSide {
        border-right: 2px solid #aaaaaa;
        width: 25%;
    }
    .rightSide {
        padding-left: 1em;
    }

}