.aotContainer {
    display: flex;
    flex-direction: row;
    
    .aotOwnerTitle {
        display: flex;
        flex-direction: column;

        .label {
            font-family: "Inter", sans-serif;
            color: #8991A2;
        }
        .name {
            font-size: 20px;
        }
    }
}