.iconWrapper {
  position: absolute;
}

.daiIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100px !important;
  width: 157px !important;
  top: -36px;
  @media (max-width: 600px) {
    height: 65px !important;
    width: 115px !important;
  }
}

.titleWrapper {
  background-color: #000;
  border-radius: 2em;
  color: #fff;

  font-size: 13px;
  @media (max-width: 900px) {
    font-size: 12px;
  }
  @media (max-width: 600px) {
    font-size: 10px;
  }
}
